* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: white;
}

.navbar {
  position: fixed;
  bottom: 0;

  width: 100%;

  display: flex;
  justify-content: space-around;

  padding: 10px 0;

  background: white;

  border-top: 1px solid #ddd; /* 薄い灰色の線 */

  border-bottom: 1px solid #ddd;
}

.navbar a {
  display: flex;
  flex-direction: column;

  align-items: center;

  text-decoration: none;
  color: #444;

  font-size: 12px;
}
.navbar a.active {
  color: #0d6efd;
}

.navbar a svg {
  margin-bottom: 4px;
}
